.banner__container{
    height: 70vh;
    width: 100%;
    background-image: url('../../../public/assets/b1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
}
.banner__content{
    padding: 2rem 6rem;
    margin: auto;
    width: 40%;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center;
}
.banner__content button{
    background-color: #e32845;
    color: #fff;
    font-size: 16px;
    padding: 13px 35px;
    border-radius: 0;
    position: relative;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    border: 1px solid #e32845;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .banner__content{
        padding: 1rem 1rem;
        margin: auto;
        width: 80%;
    }
}